:root {
  --background-color: white; 
  --title-text-color: black; 
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li{
  margin: 0px;
  padding: 0px;
}

#root{
  z-index: 100;
  position: absolute;
  width: 100%;
}

#wrapper {
  height:100%;
  width:100%;
  position:absolute;
  overflow: hidden;
  background-color: var(--background-color);
}

#wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1950px;
  height: auto; 
}

#canvas {
  z-index: 1;
}
#canvasbg {
  z-index: -10;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
}


@media only screen and (max-width: 195px) {
  #root {
    display: none;
  }
  .chill{
    position: absolute;
    display: block;
    width: 150px;
    height: 80px;
    padding-top: 10px;
    background-color: orange;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari 3-8 */
    transform: rotate(10deg);
  }
  
}

@media only screen and (min-width: 195px) {
  .chill{
    display: none;
  }
  .dropdown-menu-button-small{
    display: initial;
  }
  .dropdown-menu-button-defolt{
    display: none;
  }
  .dell-all-button{
    display: none;
  }
  #root, .btn, .input-group{
    font-size:16px;
  }
  .todo-list-view{
    min-height: 314px;
  }
  li {
    text-indent: 5px;
  }
  .list-group-item{
    margin-bottom: 6px;
      }
}


@media only screen and (min-width: 340px) {
  .dell-all-button{
    display: initial;
  }
  .dropdown-menu-button-small{
    display: none;
  }
  .dropdown-menu-button-defolt{
    display: inherit;
  }
  #root, .btn, .input-group{
    font-size:16px;
  }
  .todo-list-view{
    min-height: 314px;
  }
  li {
    text-indent: 10px;
  }
  .list-group-item{
    margin-bottom: 6px;
      }
}

@media only screen and (min-width: 768px) {

  h4{
    font-size: 32px;
  }

  #root, .btn, .input-group{
    font-size:18px;
  }
  li {
    text-indent: 15px;
  }
  .todo-list-view{
    min-height: 355px;
  }
  .list-group-item{
    margin-bottom: 15px;
      }
} 

@media only screen and (min-width: 992px) {

  h4{
    font-size: 34px;
  }
  #root, .btn, .input-group {
    font-size:21px;
  }
  li {
    text-indent: 20px;
  }
  .todo-list-view{
    min-height: 385px;
  }
  .list-group-item{
    margin-bottom: 20px;
      }
} 
